    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    .verify-red{
      margin-top: 50px; 
      margin-left: 38px; 
      height: 24px; 
      position: absolute; 
      background-color:#FFBEB5;
      font-weight: 900;
    }    

    .verify-green{
      margin-top: 50px; 
      margin-left: 50px; 
      height: 24px; 
      position: absolute; 
      background-color:#DBFFCB;
      font-weight: 900;
    }